body{
    height:100vh;
    width:100vw;
    margin:0px;
    background-color: #bfa378;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container{
    display: flex;
    justify-content: space-between;
    width:100vw;
}
.season_ring{
    display:flex;
    flex-wrap:wrap;
    width:540px;min-height:540px;

}
.season_ring .spring{
    position:relative;
    min-width: 270px;min-height: 270px;
    background:url("../image/spring.png");

}
.season_ring .spring:hover{
    background:url("../image/food_spring.png");
    transition-duration: 2s;
}
.season_ring .summer{
    min-width: 270px;min-height: 270px;
    background:url("../image/summer.png");
}
.season_ring .summer:hover{
    background:url("../image/food_summer.png");
    transition-duration: 2s;
}
.season_ring .winter{
    min-width: 270px;min-height: 270px;
    background:url("../image/winter.png");
}
.season_ring .winter:hover{
    background:url("../image/food_winter.png");
    transition-duration: 2s;
}
.season_ring .autumn{
    min-width: 270px;min-height: 270px;
    background:url("../image/autumn.png");
}
.season_ring .autumn:hover{
    background:url("../image/food_autumn.png");
    transition-duration: 2s;
}
.logo{
    position: fixed;
    z-index: 1;
}
.food{
    width:20vw;
    height:20vw;
}
.food_time{
    width:20vw;
    height:20vw;
    margin-bottom: 0%;
    align-self: flex-end;
}

.leftdoor{
    z-index: 2;
    position:absolute;
    top:0px;left:0px;
    width:30vw;
    height:100vh;
    animation:slidein ease-in 4s;
    animation-fill-mode:forwards;
}
@-webkit-keyframes slidein{
    from{
        margin-left:20%;
        margin-top: 0px;
    }
    to{
        margin-left: 0vh;
        margin-top:0px;
    }
}
.rightdoor{
    z-index: 2;
    position:absolute;
    top:0px;left:0px;
    width:30vw;
    height:100vh;
    animation:slidein1 ease-in 4s;
    animation-fill-mode:forwards;
}
@-webkit-keyframes slidein1{
    from{
        margin-left:50%;
        margin-top: 0px;
    }
    to{
        margin-left: 70%;
        margin-top:0px;
    }
}


@media  screen and (max-width:950px){
    .container{
        display: flex;
        justify-content: center;
    }
    .season_ring{
        width:330px;min-height:330px;
    }
    .season_ring .spring{
        min-width: 165px;min-height: 165px;
        background:url("../image/spring\ 1.png");
      
    }
    .season_ring .summer{
        min-width: 165px;min-height: 165px;
        background:url("../image/summer\ 1.png");
    }
    .season_ring .autumn{
        min-width: 165px;min-height: 165px;
        background:url("../image/autumn\ 1.png");
    }
    .season_ring .winter{
        min-width: 165px;min-height: 165px;
        background:url("../image/winter\ 1.png");
    }
    @-webkit-keyframes slidein{
        from{
            margin-left:20%;
            margin-top: 0px;
        }
        to{
            margin-left: -30vh;
            margin-top:0px;
            opacity: 0%;
        }
    }    
    @-webkit-keyframes slidein1{
        from{
            margin-left:50%;
            margin-top: 0px;
        }
        to{
            margin-left: 90%;
            margin-top:0px;
            opacity: 0%;
        }
    }
    .food_time{
         display:none;
    }
    .food{
        display:none;
    }
    
}


@media  screen and (max-width:400px){
    .season_ring{
        width:270px;min-height:270px;
    }
    .season_ring .spring{
        min-width: 135px;min-height: 135px;
        background:url("../image/spring\ 2.png");
      
    }
    .season_ring .summer{
        min-width: 135px;min-height: 135px;
        background:url("../image/summer\ 2.png");
    }
    .season_ring .autumn{
        min-width: 135px;min-height: 135px;
        background:url("../image/autumn\ 2.png");
    }
    .season_ring .winter{
        min-width: 135px;min-height: 135px;
        background:url("../image/winter\ 2.png");
    }
    .rightdoor{
        display:none;
    }
    .leftdoor{
        display:none;
    }
}
